## 教师信息
    姓名: 董兆宇
    电话/微信: 13426253019 
    邮箱: dongzhaoyu@k2data.com.cn

# Pandas 课程 (1) —— 课程概要：
    1. Pandas 介绍
    2. Pandas 的数据文件的读取和存储
    3. Pandas 的数据的切片和筛选
    4. DataFrame 的数据排序和去重
    5. Pandas 的向量化运算及常见统计方法
    6. Pandas 的异常值处理

## 1. Pandas 介绍
Pandas是python的一个数据分析包，最初由AQR Capital Management于2008年4月开发，并于2009年底开源出来，目前由专注于Python数据包开发的PyData开发team继续开发和维护，属于PyData项目的一部分。Pandas最初被作为金融数据分析工具而开发出来，因此，pandas为时间序列分析提供了很好的支持。 Pandas的名称来自于面板数据（panel data）和python数据分析（data analysis）。panel data是经济学中关于多维数据集的一个术语，在Pandas中也提供了panel的数据类型。
1. Series：一维数组，与Numpy中的一维array类似。二者与Python基本的数据结构List也很相近
2. DataFrame：二维的表格型数据结构。很多功能与R中的data.frame类似。可以将DataFrame理解为Series的容器。
3. Panel ：三维的数组，可以理解为DataFrame的容器，但是用途不是很广泛

<h1><a href="http://pandas.pydata.org/pandas-docs/stable/">Pandas 官方帮助文档 </a> </h1>
<h1><a href="http://ju.outofmemory.cn/entry/74953">Pandas 其他帮助文档 </a> </h1>

In [145]:
import pandas as pd  ## 加载pandas库 , 官方推荐的缩写形式为pd，你可以选择其他任意的名称
import numpy as np ## numpy 是 pandas 的底层依赖库, 不过引用pandas 时不是一定要应用它, 因为后续需要使用这里引用

### 1.1 Series 介绍

In [138]:
## 1.1 创建Series , 作用为是一维数组，一个向量，可以支持向量运算
s = pd.Series([4, 7, -5, 3]) ## 创建一个所有元素都为 int 的Series, dtype为 int
print (s)
s1 = pd.Series(['A','B','C'],index=['a','b','c']) ## 创建Series时可以自定义其index属性(行标签) 
print (s1)
s2 = pd.Series([1,2,'A','B']) ## 创建一个含有int和str 的Series, dtype为 object
print (s2)
print (type(s),'\t',s1.index,'\t',s2.dtype)  ## Series其中一个属性 dtype 可以查看Series类型 
## 虽然Series里的每个元素类型可以不一致, 但是Series本身的dtype只能为一种
## 所有Series 对象都具备 index 属性, 这是数组的行标签, 可用于索引和切片使用

s2 = s2.astype(str) ## 可以通过.astype 强制改变Series的 数据类型
print (type(s2.iloc[0])) ## Ps: iloc后续有详细介绍, 此处代码是在索引s2 的第一个元素看其类型, 由最初的int型的 1 变成了 str型的 '1'

0    4
1    7
2   -5
3    3
dtype: int64
a    A
b    B
c    C
dtype: object
0    1
1    2
2    A
3    B
dtype: object
<class 'pandas.core.series.Series'> 	 Index(['a', 'b', 'c'], dtype='object') 	 object
<class 'str'>

In [139]:
print (s2)
s2.index = ['a','b','c','d'] ## 可以通过这样的方式对 Series 进行 index的赋值
print (s2)

0    1
1    2
2    A
3    B
dtype: object
a    1
b    2
c    A
d    B
dtype: object

### 1.2 DataFrame 介绍

In [45]:
## 1.2 创建DataFrame, 作用为是二维数组,二维矩阵,可以支持矩阵运算
## 常见的初始化DataFrame方法, 定义一个DataFrame时可以设置其columns和index, 默认可以缺省, columns 是 列标签, 字段名列表, 列首
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['A','B','C'],index=['a','b','c']) 
## 通过字典方式创建DataFrame, 字典的key是columns的字段名称, value是 对应的Series
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

print (df)
print (type(df))
print (df.index) ## DataFrame 的 行标签
print (df.columns) ## DataFrame 的 列标签
print (df.dtypes)  ## DataFrame 的 列类型

## 既然可以通过字典的方式创建DF(DataFrame) 
df.to_dict() ##可以将其转换为字典

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
<class 'pandas.core.frame.DataFrame'>
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['one', 'two'], dtype='object')
one    float64
two    float64
dtype: object

{'one': {'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': nan},
 'two': {'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0}}

In [136]:
## 创建一个空 DataFrame
df = pd.DataFrame() 
df['A'] = [1,2,3] ## 通过赋值的方式为 DF 增加新列
df['B'] = pd.Series(['e','g','f']) ## 赋值的 可以 list也可以 Series
df['C'] = pd.Series([4,5,6],index = ['a','b','c']) ## index 不同时出现NaN值
print (df)

print (type(df['A'])) ##  在DF中索引A列, df['A']就是一个Series
print (df['A'].dtype) ## 所以可以使用Series 的所有方法 .dtype
df['A'] = df['A'].astype(str)  ##  强制转换数据类型, 并使得DF中的A 列发生数据类型变化
print (df)

   A  B   C
0  1  e NaN
1  2  g NaN
2  3  f NaN
<class 'pandas.core.series.Series'>
int64
   A  B   C
0  1  e NaN
1  2  g NaN
2  3  f NaN

In [141]:
print (df)
df.columns = ['E','F','G']  ## 可以通过这样的方式对 DataFrame 进行columns的赋值
print (df)

   E  F   G
0  1  e NaN
1  2  g NaN
2  3  f NaN
   E  F   G
0  1  e NaN
1  2  g NaN
2  3  f NaN

#### 课上练习题：
生成一个 如下的 DataFrame

        H	J	K
    a	1	A	True
    b	2	B	False
    c	3	C	True
    d	4	D	True

## 2. Pandas 的数据文件的读取和存储

### 2.1 文件读取

In [56]:
df = pd.read_csv("./test.csv") ## read_csv 可以读取文本数据文件, txt,csv格式文件都可以读取
pd.read_csv?
## 常见参数 
## sep : 可以规定分隔符
## chunksize : 流式读取, 分块读取
## header , names : 可以自定义读取后数据的 字段名
## compression : 可以读取压缩文件, 压缩类型可以支持gzip,zip等等
## nrows : 读取文件行数

In [62]:
list(filter(lambda x:"read_" in x,pd.__dict__.keys())) ## Pandas 支持数据导入的所有接口 pd.read_.. 
## 读取 Excel文件(.xls, .xlsx) read_excel
## 读取剪切板, 可以通过数据的copy 直接生成DF read_clipboard
## 从数据库读取数据 read_sql
## 读取二进制的序列化文件 read_pickle

['read_csv',
 'read_table',
 'read_fwf',
 'read_clipboard',
 'read_excel',
 'read_hdf',
 'read_json',
 'read_html',
 'read_sql',
 'read_sql_table',
 'read_sql_query',
 'read_sas',
 'read_feather',
 'read_parquet',
 'read_stata',
 'read_pickle',
 'read_msgpack',
 'read_gbq']

### 2.2 文件存储

In [70]:
list(filter(lambda x:"to_" in x,pd.DataFrame.__dict__.keys())) ## DataFrame 支持数据导出的所有接口 df.to_...
## DF存储数据是 对DataFrame 类调用 方法来存储数据

# df.to_csv("1.csv",index=False) ## index 默认为True, 存储文件时默认将index当成一列存储, 若为False, 文件生成时不会加入index列

['to_dict',
 'to_gbq',
 'to_records',
 'to_sparse',
 'to_panel',
 'to_csv',
 'to_excel',
 'to_stata',
 'to_feather',
 'to_parquet',
 'to_string',
 'to_html',
 'to_timestamp',
 'to_period']

### 2.3 数据浏览

In [72]:
df.head(3) ## 当读取文件后, 由于数量过大, 常使用head方法看数据的前几行, 默认缺省输入时为5行

          A         B         C         D
0  0.702365  0.779270  0.948534  0.419990
1  0.929474  0.723640  0.284371  0.075995
2  0.677606  0.002673  0.861055  0.521433

In [78]:
df.tail()  ## 和 head 对应的是 tail , 是结尾几行, 默认缺省输入时为5行

           A         B         C         D
95  0.075752  0.171668  0.253888  0.079165
96  0.099914  0.619248  0.052489  0.477885
97  0.054925  0.359343  0.664543  0.477222
98  0.898379  0.962915  0.139379  0.559661
99  0.489293  0.125862  0.687135  0.428686

In [180]:
df.shape ## 查看数据形状, 返回的是 (行, 列)

(100, 3)

## 3. Pandas 的数据的切片和筛选

In [ ]:
# 切片 loc, iloc区别和使用常见，列筛选，行筛选，条件筛选和多条件的筛选，去除列

### 3.1 DataFrame 的列切片

In [115]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['A','B','C'],index=['a','b','c']) 
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [99]:
s = df['B'] ## 选取B列 ,这样选取的s 是 Series
s1 = df.B  ## 也可以通过 DF. 类型获取属性的方式选取列, 但是若列名中含有中文或数字开头, 不要使用这种方式
s2 = df.loc[:,'B'] ## 可以通过 DF.loc 方式进行列选取, loc[index,column] loc[] 后面默认有两个参数, 用于数组切片,: 代表全部
s3 = df.iloc[:,1] ## iloc 和 loc 的区别就在于 loc是指定index和columns的名称筛选, 而iloc是按照索引(位置) 进行筛选
d4 = df.loc[:,['B']] ## 如果loc时输入的参数为list , 那切片后的数据 就是DataFrame
print (type(s2),type(d4))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [100]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['A','B','C'],index=['a','b','c']) 
df1 = df[['A','B']]  ## 选取DF中的多列, df[] 中输入的是一个list , 筛选出来的df1 是DataFrame
df2 = df.loc[:,['A','B']] ## loc 中参数可以输入的是list ,表示多选
df3 = df.iloc[:,[0,1]] ## iloc 同样输入的是list, 只是索引构成的list

### 3.2 DataFrame 的行切片

In [118]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['A','B','C'],index=['a','b','c']) 
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [124]:
s1 = df.loc['a',:]  ## 选取行时 可以使用loc , 后面输入的是 要选取的 行索引, 第二个参数为 :
s2 = df.loc['a']  ## 若果是选取一整行的话, : 可以省略
s3 = df.iloc[0]  ## iloc 是按照位置索引
d4 = df.iloc[[0],:]  ## 如果输入的参数为list , 则返回的数据类型是DF
print (type(s1),type(s2),type(s3),type(d4),type(d5),type(d6))

   A  B  C
a  1  2  3
b  4  5  6
   A  B  C
b  4  5  6
c  7  8  9
(<class 'pandas.core.series.Series'>, <class 'pandas.core.series.Series'>, <class 'pandas.core.series.Series'>, <class 'pandas.core.frame.DataFrame'>, <class 'pandas.core.frame.DataFrame'>, <class 'pandas.core.frame.DataFrame'>)

### 3.3 DataFrame 的子集切片

In [111]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['A','B','C'],index=['a','b','c']) 
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [128]:
## 主要就是看 loc 的两个参数 是不是list , 决定了返回的数据类型
df1 = df.loc[['a','b'],['B','C']] ## loc 可以按照名称 进行数据的子集切片
df2 = df.loc[['a','b'],'B'] 
df3 = df.iloc[0,1]

## loc 和 iloc 的输入参数是一致, index 和 columns  要么全是 名称 /  要么全是 索引
df4 = df.ix[[0],['B']]  ## ix 可以自动适应 其index 和 columns, 自动识别输入的是索引还是 名称
df5 = df[:2] ## 如果 df[] 中是切片写法, 等效按照ix 方式行切片, 返回的数据类型是 DF
df6 = df['b':'c'] 
print  (df5)
print  (df6)
print (type(df1),type(df2))
print (type(df3),df3)
# print (df4)

   A  B  C
a  1  2  3
b  4  5  6
   A  B  C
b  4  5  6
c  7  8  9
(<class 'pandas.core.frame.DataFrame'>, <class 'pandas.core.series.Series'>)
(<type 'numpy.int64'>, 2)

c:\python27\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

### 3.4 DataFrame 的筛选

In [144]:
## 通过逻辑指针进行数据切片 即 数据筛选
## df[逻辑条件]
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,np.nan]],columns = ['A','B','C'],index=['a','b','c']) 
df1 = df[df.A >= 2] #单个逻辑条件 ,筛选 df数据中 A列所有大于 2 的数据集
## [] 中是筛选条件, df 是从哪里做筛选, 返回的数据集 行数可能减少, 但是列数保持一致
print (df1)

df2 = df[(df.A >=1 ) & (df.B < 3) ] #多条件组合筛选, 其实不管[]多少条件, 但是最终都通过 与或非的逻辑运算生成 一组TF的布尔量的Series
## [] 里面其实本质是TF的数组, 可以是list也可以是Series, 但数量都需和df2保持一致,若类型为Series, 需要注意的是 index要和 df一致
df2

   A  B    C
b  4  5  6.0
c  7  8  NaN

   A  B    C
a  1  2  3.0

In [151]:
## DF中筛选 包括 > , < , >= , <= , == , != ,isin , isnull() ,notnull() 
df[(df.A==4) | (df.C!=3)]  ## 筛选 df中 A列等于4 或者C列不等于3 的数据子集
df[~df.B.isin([4,5])] ## 筛选df中 B列的值不等于 4且不等于5 (值不在[4,5]内的) 的 数据子集
df[df.C.isnull()] ## df中C列为NaN的数据子集
df[df.C.notnull()]  ## df中C列不为NaN的数据子集

   A  B    C
a  1  2  3.0
b  4  5  6.0

#### 课上练习题：
1. 读取test.xlsx 文件赋值给 df变量
2. 读取test.csv 文件赋值给 df1变量
3. 从df 中选取index下标为50(含50)之后的30行的所有列的数据子集 赋值给df变量
4. 从df1 中选取前30行的 F,H的数据子集 赋值给df1 变量
5. 筛选df中 B列超过0.4的那部分的C列的数据
6. 筛选df1 中F列在 0.2~0.6(包含边界) 范围内的 对应行下 df 的数据子集

## 4. DataFrame 的数据排序和去重

### 4.1 DataFrame 的排序

In [219]:
df = pd.DataFrame([[2,4,2],[8,1,5],[7,4,1],[2,5,2]],columns = ['A','B','C'],index=[1,3,2,4]) 
df

   A  B  C
1  2  4  2
3  8  1  5
2  7  4  1
4  2  5  2

In [220]:
df.sort_index() ## DF 按照index 属性进行排序 ,排序后df本身不会发生变化, 若inplace参数赋值为True, df则本身发生变化
df.sort_index(inplace=True) ## Ps : 默认情况下pandas中的方法 都不会引起DF 的本身变化, 即inplace默认为False
df

   A  B  C
1  2  4  2
2  7  4  1
3  8  1  5
4  2  5  2

In [221]:
df.sort_values(by ="B") ## DF 按照 B 列进行排序 , DF中的其他字段和index也会随排序结果整体变化, 默认排序是从小至大 的升序排列
df.sort_values("B",ascending=False)  ## 可以通过ascending进行从大至小的 降序排序, 因为by是第一个参数, 一般可以省略

   A  B  C
4  2  5  2
1  2  4  2
2  7  4  1
3  8  1  5

In [222]:
df.sort_values(['B','C']) ## DF 按照 B,C 多列排序, 排序时的优先级按照 从左到右的顺序
df.sort_values(['B','C'],ascending=[False,True]) ## 在多列排序的时候 , 可以指定位置的 自定义排序方式

   A  B  C
4  2  5  2
2  7  4  1
1  2  4  2
3  8  1  5

### 4.2 DataFrame 的去重

In [232]:
df = pd.DataFrame([[2,4,3],[8,1,5],[7,4,1],[2,5,3]],columns = ['A','B','C'],index=[1,3,2,4]) 
df

   A  B  C
1  2  4  3
3  8  1  5
2  7  4  1
4  2  5  3

In [237]:
df.drop_duplicates('B') ## DF中按照B列的进行去重 , 默认保留所有重复记录的第一条记录
df.duplicated('B') ## duplicated 返回的是布尔量, 也就是DF中 按照B列重复的是哪列
## df.drop_duplicates('B') 等效于 df[~df.duplicated('B')]
df.drop_duplicates('B',keep='last') ## 可以通过keep 参数控制保留那条记录, 这里是保留所有重复记录的最后一条记录

   A  B  C
3  8  1  5
2  7  4  1
4  2  5  3

In [241]:
df.drop_duplicates(['A','C']) ## DF中 按照A和C 两列的值 进行去重
df[df.duplicated(['A','C'])] ## 筛选DF中按照A,C 列 哪一行是重复记录

   A  B  C
4  2  5  3

In [244]:
df.drop_duplicates() ## 如果不输入参数, 即DF中按照全部列的 值进行 重复判断

   A  B  C
1  2  4  3
3  8  1  5
2  7  4  1
4  2  5  3

In [248]:
df = pd.DataFrame([['L2E8C10A30313B','DDBD0',20],['L2E8C10A30313B','DDBD0',12],['L2E8C10A30313B','DDBD0',15],\
                   ['L2E8C10A30313B','DDBD0',17],['L2E8C10A30313B','DDDD0',22],['L2E8C10A30313B','DDDD0',40],\
                   ['L2E8C10A30313A','DDBD0',15],['L2E8C10A30313A','DDBD0',25],['L2E8C10A30313A','DDDD0',15]]\
                  ,columns = ['PANNELID','DEFECTCODE','DEFEECTNO'])
df

         PANNELID DEFECTCODE  DEFEECTNO
0  L2E8C10A30313B      DDBD0         20
1  L2E8C10A30313B      DDBD0         12
2  L2E8C10A30313B      DDBD0         15
3  L2E8C10A30313B      DDBD0         17
4  L2E8C10A30313B      DDDD0         22
5  L2E8C10A30313B      DDDD0         40
6  L2E8C10A30313A      DDBD0         15
7  L2E8C10A30313A      DDBD0         25
8  L2E8C10A30313A      DDDD0         15

#### 课上练习题：
DF做数据处理, 确保 PANNELID 和 DEFECTCODE 只有唯一一条记录, 只保留DEFEECTNO最大的那条记录

## 5. Pandas 的向量化运算及常见统计方法

### 5.1 Pandas 的向量化运算

In [291]:
df = pd.DataFrame([[2,4,'a'],[8,1,'b'],[7,4,'c'],[2,5,'d']],columns = ['A','B','C']) 
df

   A  B  C
0  2  4  a
1  8  1  b
2  7  4  c
3  2  5  d

In [293]:
df['D'] = (df.A - df.B) / (df.A * 3) +df.B -2 ## DF 支持向量化的 加减乘除 计算 , 支持向量和标量的运算
df['E'] = df.C+"_"+df.C ## 字符串向量的+ 等效于向量化的字符串拼接 , 支持向量和标量的运算
df.T ## DF 的转置

         0         1        2    3
A        2         8        7    2
B        4         1        4    5
C        a         b        c    d
D  1.66667 -0.708333  2.14286  2.5
E      a_a       b_b      c_c  d_d

In [265]:
df.A//2
df.A%2
df.A**2 ## 同时也支持 这些运算逻辑符

0     4
1    64
2    49
3     4
Name: A, dtype: int64

### 5.2 Pandas 的常见统计方法

In [266]:
df = pd.DataFrame([[2,4,3],[8,1,5],[7,4,1],[2,5,3]],columns = ['A','B','C'])
df

   A  B  C
0  2  4  3
1  8  1  5
2  7  4  1
3  2  5  3

In [284]:
## DF中可以直接调用一些统计函数快速返回统计量 
## {min : 最小值, max : 最大值,mean : 均值 , count : 长度 , std : 标准差, median : 中位数, quantile : 分位数}
df.min() ## 返回 DF中 每一列的最小值 , 默认是按照列来统计 最小值, 返回的类型是Series
df.max(axis=1) ## 返回 DF 中每一行的最大值 , 可以通过axis 参数来控制统计的方向, 其他统计函数也都有axis 参数, 默认为axis=0, 即按列 统计
df.B.mean() ## Series 同样具备以上 统计方法, 返回的类型是 一个值
df.quantile(0.5,axis=1) ## quantile 是分位数函数, 第一个参数是分位数比例, 0~1范围内 0.5代表的是 中位数

0    3.0
1    5.0
2    4.0
3    3.0
Name: 0.5, dtype: float64

In [289]:
df.describe() ## describe 是将DF中 比较通用的统计方法集成的 一个 数据概览函数, 该函数同样适用于 Series

              A         B         C
count  4.000000  4.000000  4.000000
mean   4.750000  3.500000  3.000000
std    3.201562  1.732051  1.632993
min    2.000000  1.000000  1.000000
25%    2.000000  3.250000  2.500000
50%    4.500000  4.000000  3.000000
75%    7.250000  4.250000  3.500000
max    8.000000  5.000000  5.000000

## 6. Pandas 的异常值处理

### 6.1 Pandas 的空值处理

In [164]:
## DataFrame 中的空值 为 NaN , 其本质 是 None 或者 np.nan 
df = pd.DataFrame([[2,None,'a'],[8,1,np.nan],[7,np.nan,'c'],[np.nan,np.nan,np.nan]],columns = ['A','B','C']) 
df

     A    B    C
0  2.0  NaN    a
1  8.0  1.0  NaN
2  7.0  NaN    c
3  NaN  NaN  NaN

In [170]:
df.dropna() ## DF.drop 用于除去空值, 默认每行 有一个 NaN 即去除此行
df.iloc[:-1].dropna(axis=1) ## axis 控制方向
df.dropna(how = 'all') ## how 控制的去除空值的方式, 默认位any ,若为all ,则只有全部为空值时才去除此行或此列

     A    B    C
0  2.0  NaN    a
1  8.0  1.0  NaN
2  7.0  NaN    c

In [171]:
df.fillna('OK') ## 可以通过 DF.fillna 可以对空白值进行替换

    A   B   C
0   2  OK   a
1   8   1  OK
2   7  OK   c
3  OK  OK  OK

In [172]:
df.B.fillna(0)  ## 同样适用于 Series

0    0.0
1    1.0
2    0.0
3    0.0
Name: B, dtype: float64

In [173]:
df.A.fillna(df.B.mean()) ## 适用 B列的不为空的均值作为 替换值

0    1.0
1    1.0
2    1.0
3    1.0
Name: B, dtype: float64

In [177]:
df.C.fillna(method='ffill')  ## 将空值的 下一个有效值 作为空值的替换值

0    a
1    a
2    c
3    c
Name: C, dtype: object

In [178]:
df.C.fillna(method='bfill')  ## 将空值的 上一个有效值 作为空值的替换值

0      a
1      c
2      c
3    NaN
Name: C, dtype: object

### 6.2 Pandas 的异常值处理

In [105]:
## 异常值 是针对 正常值而言的, 空值也是异常值的一种, 不符合业务逻辑的 数值也是异常值
## 例如 df 的正常波动范围 是在 1~10 , 那么-999.0 就是异常值 
s = pd.Series([1., -999., 2., -999., -999., 3.])
s

0      1.0
1   -999.0
2      2.0
3   -999.0
4   -999.0
5      3.0
dtype: float64

In [106]:
## 将-999.0 置0 
s.replace(-999.0,0)

0    1.0
1    0.0
2    2.0
3    0.0
4    0.0
5    3.0
dtype: float64

In [107]:
## 将-999.0 置为 正常范围下 数据的均值 
s.replace(-999.0,np.nan).fillna(df.replace(-999.0,np.nan).mean())

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [108]:
## DF.replace 是替换值 的方法
s = pd.Series([1., -999., 2.0, -999., -1000., 3.])
s

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [109]:
s.replace([-999.00, -1000.0],0) ## replace 的第一个参数可以是list , 即需要被替换的值可以是多个
## s.replace([-999, -1000], [np.nan,100])  针对不同值 不同的替换方案 list,list
## s.replace({-999.0:20,-1000.0:10})  针对不同值 不同的替换方案  dict

0    1.0
1    0.0
2    2.0
3    0.0
4    0.0
5    3.0
dtype: float64

In [112]:
s.replace([-999.00, -1000.0],method='ffill') ## 如果不给 value ,可以通过 method 设置 进行最近有效值的赋值

0    1.0
1    1.0
2    2.0
3    2.0
4    2.0
5    3.0
dtype: float64

In [117]:
## 还有一种处理异常值的思路, 就是先将所有异常值处理成NaN, 然后再使用fillna 来 处理空值
s[s<-500]=np.nan ## 可以通过筛选 赋值的方式 对 s 进行区域性 赋值 
s

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

#### 课上练习题：
df 中所有小于0的都视为异常值, 将异常值 赋成空白值 , 完成以下两种空值处理逻辑
2. 将df中每一行 的空值替换成该行的最大值
3. 将df中每一列 的空值替换成该列的均值

In [160]:
df = pd.DataFrame([[2,-1,3],[8,1,-10],[5,-2,5],[-9,3,4]],columns = ['A','B','C']) 
df

   A  B   C
0  2 -1   3
1  8  1 -10
2  5 -2   5
3 -9  3   4